/* FONTS */
@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url('./fonts/Inter-Regular.ttf') format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url('./fonts/Inter-Medium.ttf') format("truetype");
  font-weight: medium;
  font-style: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url('./fonts/Inter-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* COLOR VARIABLES */
:root {
  --background: #181818;
  --background-secondary: #262626;
  --text-primary: #d9d9d9;
  --text-secondary: #808080;
  --accent-primary: rgb(255, 187, 138);
  --accent-secondary: rgb(238, 134, 59);
}

/* VUEFORM COLOR VARIABLES */
:root {
  --ms-bg: var(--background-secondary);
  --ms-dropdown-bg: var(--background);
  --ms-option-bg-pointed: var(--background);
  --ms-border-color: transparent;
  --ms-tag-bg: var(--accent-primary);
  --ms-tag-font-weight: 400;
  --ms-tag-color: var(--background);
  --ms-radius: 0.5rem;
  --ms-ring-width: 1px;
  --ms-ring-color: var(--text-primary);
  --ms-option-color-pointed: var(--text-primary);
  --ms-placeholder-color: var(--text-secondary);
}

/* BODY */
body {
  font-family: 'Inter', 'Segoe-UI', sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}